{% extends 'base.html' %}

{% load cms_tags %}

{% block title %} {{ title }} · {{ block.super }} {% endblock title %}

{% block content %}  
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'books:home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ book_list|verbose_name:'verbose_name_plural' }}</li>
  </ol>
</nav>   
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2"><i class="fas fa-book text-success"> {{ title }}</i></h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a class="btn btn-sm btn-outline-primary ajax-load-form" href="{% url 'books:book-create' %}">
        <i class="fas fa-plus-circle"></i> New {{ book_list|verbose_name|lower }}</a>
    </div>
</div>
<small class="text-muted">Click on book title link to open leads... | drag and drop table rows to reorder list | double click to edit data on row</small>
<table class="table table-hover" id="table-ajax-{{ book_list|verbose_name:'model_name' }}">
  <thead class="thead-light">
    <tr>
      {% comment %} <th>#</th> {% endcomment %}
      <th>{{ book_list|verbose_name:'field:title' }}</th>
      <th>{{ book_list|verbose_name:'field:book_type' }}</th>
      <th>{{ book_list|verbose_name:'field:publication_date' }}</th>
      <th>{{ book_list|verbose_name:'field:pages' }}</th>
      <th>{{ book_list|verbose_name:'field:price' }}</th>
      <th class="crud-lg">Action</th>
    </tr>
  </thead>
  <tbody class="order" data-url="{% url 'cms:reorder' book_list|model_name %}">
    {% include 'books/books_list.html' %}
  </tbody>
</table>
{% endblock %}