{% load cms_tags %}

{% for book in object_list %}
<tr id="{{ book.pk }}">
    {% comment %} <td>{{ book.id }}</td> {% endcomment %}
    {% comment %} <td>{{ forloop.counter }}</td> {% endcomment %}
    <td><a href="{% url 'books:leads-list' book.pk %}" title="Leads">{{ book.title }}</a></td>
    <td>{{ book.get_book_type_display }}</td>
    <td>{{ book.publication_date }}</td>
    <td>{{ book.pages }}</td>
    <td>{{ book.price }}</td>
    <td class="col-action">
        <a href="{% url 'books:book-update' book.pk %}" 
            class="btn btn-outline-info btn-sm border-0 rounded-circle ajax-load-form" title="Edit">
            <i class="fa fa-edit"></i></a>
        <a href="{% url 'books:book-delete' book.pk %}"
            class="btn btn-outline-danger btn-sm border-0 rounded-circle ajax-load-form" title="Delete">
            <i class="fa fa-trash-alt"></i></a>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="100%" class="text-center bg-warning">No {{ object_list|verbose_name|lower }}</td>
</tr>
{% endfor %}