{% extends 'base.html' %}

{% load static cms_tags %}

{% block title %} {{ title }} · {{ block.super }} {% endblock title %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'books:home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'books:books-list' %}">{{ book|verbose_name:'verbose_name_plural' }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{ file_list|verbose_name:'verbose_name_plural' }}
      on<strong>&nbsp;{{ book }}</strong></li>
  </ol>
</nav>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h1 class="h2"><i class="fas fa-file-alt text-success"> {{ title }}</i></h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button type="button" class="btn btn-sm btn-outline-primary ajax-upload-files">
      <i class="fas fa-file-upload"></i> Upload {{ file_list|verbose_name:'verbose_name_plural'|lower }}
    </button>
    {% comment %} <a class="btn btn-sm btn-outline-primary ajax-upload-files" href="">
      <i class="fas fa-file-upload"></i> Upload {{ file_list|verbose_name:'verbose_name_plural'|lower }}</a>
    {% endcomment %}
  </div>
</div>
<div class="card pt-4 pb-4 well text-muted text-center">
  <i class="fas fa-download pb-4" style="font-size: 4rem;"></i>
  <h3>Drop Files Here to Upload</h3>
</div><br>
<input id="fileupload" type="file" name="file" multiple style="display: none;"
  data-url="{% url 'books:files-upload' book.pk %}" data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

<table class="table table-hover" id="table-ajax-{{ file_list|verbose_name:'model_name' }}">
  <thead class="thead-light">
    <tr>
      <th>{{ file_list|verbose_name:'field:file' }}</th>
      <th>{{ file_list|verbose_name:'field:uploaded_at' }}</th>
      <th class="crud-1">Action</th>
    </tr>
  </thead>
  <tbody class="order" data-url="{% url 'cms:reorder' file_list|model_name %}">
    {% include 'books/files_list.html' %}
  </tbody>
</table>
<div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-file-upload modal-icon text-success"> Uploading...</i></h4>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0"
            aria-valuemax="100">0%</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/jquery-file-upload/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/ajax_file_upload.js' %}"></script>
{% endblock %}