.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

body {
    padding-top: 5rem;
}

/* #table-ajax th:last-child { */
table[id^="table-ajax"] th:last-child {
    width: 75px;
    text-align: center;
    place-items: center;
    margin: auto;
}

table[id^="table-ajax"] th:last-child.crud-lg {
    width: 90px;
    text-align: center;
    place-items: center;
    margin: auto;
}

table[id^="table-ajax"] th:last-child.crud-1 {
    width: 45px;
    text-align: center;
    place-items: center;
    margin: auto;
}

table[id^="table-ajax"] th:last-child.crud-3 {
    width: 110px;
    text-align: center;
    place-items: center;
    margin: auto;
}

table tbody.order tr:not(.nosort) {
    cursor: grab;
}

a[disabled],
a[disabled]:hover {
    pointer-events: none;
}