{% extends 'layouts/main.html' %}

{% load static %}

{% block title %} Login · {{ block.super }} {% endblock title %}

{% block extracss %}
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block maincontent %}
    <div class="form-signin">
        <form class="form-signin" method="post" action="{% url 'accounts:login' %}">
        {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <div class="text-center mb-4">
                <img class="mb-4" src="{% static 'img/bootstrap-solid.svg' %}" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal" style="color: #336699;">Please sign in</h1>
                <small style="color: gray">
                    username: admin<br>
                    password: crudajax
                </small>
            </div>

            {% include 'include/messages.html' %}
            
            {{ form.username }}
            {{ form.password }}

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2019-{% now 'Y' %}, EU</p>  
    </div>
{% endblock%}